.view_button {
  padding: 5px 10px;
  background-color: hwb(219 2% 7%); /* Carbon blue color */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
}

.view_button:hover {
  background-color: #0353e9; /* Darker blue on hover */
}

.view_button:focus {
  outline: 2px solid #0050b3; /* Focus outline */
}

.view_button:active {
  background-color: #003a6d; /* Darkest blue on active */
}

.download_button {
  padding: 5px 10px;
  background-color: #24a148; /* Green color */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
}

.download_button:hover {
  background-color: #198038; /* Darker green on hover */
}

.download_button:focus {
  outline: 2px solid #146e29; /* Focus outline */
}

.download_button:active {
  background-color: #0c4e1f; /* Darkest green on active */
}

.wrapper_container {
  overflow: auto;
  max-height: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 1rem;
}

.buttonContainer > button {
  margin-right: 1rem;
}
