/* dynamic-report-loader.scss */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 8px 18px 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.downloadButton {
  // margin-left: 8px;
  background-color: #007d79;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #005f5b;
}

.downloadButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px #42a4a1;
}

#report-content {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: auto;
  padding: 16px;
  background-color: #fff;
}
