// report-tabs.module.scss

.reports-list-container {
  margin: 20px;
  padding: 20px;
  width: 100%;
  // border: 1px solid;
  border-radius: 8px;
  // margin-top: 200px;
}

.full-width-tablist {
  display: flex;
  // justify-content: space-between;
  justify-content: space-between;
  width: 100%;

  .cds--tabs__nav-item {
    flex-grow: 1;
    text-align: center;
  }
}
