// report-tabs.module.scss
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.full-width-tablist {
  display: flex;
  width: 100%;
  min-height: 70px;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  padding: 12px !important;

  .cds--tabs__nav-item {
    flex-grow: 1;
    text-align: center;
  }
}


